<%- include('navLoggedIn.ejs'); %>


    <div class="containerPrincipal">
        <form action="/comment/delete/<%= comment.id %>" method="post" class="form"> 

            <hgroup>
                <h1>Tem certeza que deseja apagar o comentário ?</h1>
            </hgroup>

            <input type="submit" style="background-color: #E73C37" value="Apagar Comentário">
            <a href="/perfil" class="link">Voltar</a>
        </form>
   </div>

</body> 
</html>