<%- include('head.ejs'); %>

<body>

    <nav>

        <a href="/" class="defaultLinkLogo">
            <h1 class="defaultLogo">Tech Forum</h1>
        </a>

        <div>
            <a href="/register" class="btn1">Cadastro</a>
            <a href="/login" class="btn2">Login</a>
        </div>


    </nav>
