<%- include('head.ejs'); %>

<body>

    <nav>
        <h1>Tech Forum</h1>

        <div>
            <a href="/register">Cadastro</a>
            <a href="/login">Login</a>
        </div>


    </nav>
