<%- include('head.ejs'); %>

<body>

    <nav>
        <h1>Tech Forum</h1>

        <div>
            <div>
                <span>Asta Bolado</span>
                <a href="/auth/logout">Sair</a>
            </div>
            <img src="../utils/upload/<%= user.avatar %>">
        </div>


    </nav>