<%- include('head.ejs'); %>

<body>

    <nav>
        <a href="/" class="defaultLinkLogo">
            <h1 class="defaultLogo">Tech Forum</h1>
        </a>

        <div>
            <div>
                <a href="/perfil" class="nickName"><%= user.userName %></a>
                <a href="/logout">Sair</a>
            </div>
            <a href="/perfil" class="imgP">
                <img src="/upload/<%= user.avatar %>">
            </a>
        </div>

    </nav>