<%- include('head.ejs'); %>

<body>

    <nav>
        <h1>Tech Forum</h1>

        <div>
            <div>
                <a href="/perfil"><span><%= user.userName %></span></a>
                <a href="/logout">Sair</a>
            </div>
            <img src="/upload/<%= user.avatar %>">
        </div>


    </nav>