<%- include('navLoggedIn.ejs'); %>

    <div class="content">
        <form action="/post/<%= user.id %>/<%= topic.id %>" class="form-cadastro" method="post"> 
            <hgroup>
                <h1>Novo Post</h1>
                <h3>Preencha os campos abaixo para criar um novo post</h3>
            </hgroup>
            <input type="text" name="title" placeholder="Título" required>
            <textarea name="content" class="textarea" placeholder="Conteúdo"></textarea>
 
            <input type="submit" value="Criar Conta">
            <a href="/" class="link">Voltar</a>
        </form>
   </div>

</body>
</html>