<% if (user) { %>
    <%- include('navLoggedIn.ejs'); %>
<% } else {%>
    <%- include('navDefault.ejs'); %>
<% } %>


<div class="content">
    <div class="center">

        <div class="top">
            <h1>Tópicos</h1>
        </div>
        
        <details>
            <summary>
                <div>
                    <i data-feather="message-circle"></i>
                    <h3>Hardware<h3>
                </div>
            </summary>

            <% topics.forEach( topic => { %>
                <li><a href="/posts/<%= topic.id %>"><%= topic.name %></a></li>
            <% }) %>
        </details>
        
    </div>
</div>

<script>
    feather.replace()
</script>

</body>

</html>