<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>

<body>

    <nav>
        <h1>Tech Forum</h1>

        <!-- <div>
            <a href="cadastro.html">Cadastro</a>
            <a href="login.html">Login</a>
        </div> -->

        <div>
            <div>
                <span>Asta Bolado</span>
                <a href="login.html">Sair</a>
            </div>
            <img src="/assets/userDefault.png" alt="">
        </div>


    </nav>

    <div class="content">
        <form action="">
            <hgroup>
                <h1>Tech Forum</h1>
                <h3>Informe alguma imagem no input abaixo, para atualizar a foto de perfil</h3>
            </hgroup>

            <hr>

            <div class="fotoperfil">
                <img src="/assets/userDefault.png" alt="user">
            </div>

            <hr>

            <input type="file">

            <input type="submit" value="Salvar">
            <a href="Perfil.html">Voltar</a>
        </form>
    </div>

</body>

</html>